<!DOCTYPE html>
<html>
<head>
	<title>Reverse Geocoding App Result Page...</title>
<!-- 	<link rel="stylesheet" href="static/styles.css">
	<script src="static/script.js"></script> -->
</head>
<body>

<center>

<br>
<br>
	<h1 style="color: #5da25d" >Reverse Geocoding Result was Successful!...</h1>

	<form>
			<!-- <h3 style="color: red" >{{ add_list }}</h3> -->
			
			<h2 style="color: #969696" >Download the Result HERE! >>> <a href="#">  http://54.213.237.200/{{ file_name }}</a></h2>
<!-- 
			<a href="" download=http://127.0.0.1:5000/{{ file_name }}> Test hereee</a>
		 -->
	</form>



</center>
</body>
</html>



